@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@400;600&display=swap');

body {
 text-align: center;
  margin: auto;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  overflow-x: hidden;
  background:
    url(https://64.media.tumblr.com/0edcf8f647dda7b5effe933c2d4e0ac5/3dc1f48230da78a9-d2/s1280x1920/2d0bc6120e3f62cea2d9781d29e430b4a3cde936.pnj) no-repeat top center,
    url("https://64.media.tumblr.com/0ff0b488ecc614d9677856d2a2fa2baa/8a5fdc9258d445c1-cc/s1280x1920/56e31de29753d389b7a9ae0edc16c72bb3339e9d.pnj") repeat center,
    radial-gradient(circle at center, #ff00a8, #ff4fa1, #ff0099);
  height: 100vh;
  color: #5d2222;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover, cover, cover;
  background-attachment: scroll, fixed, fixed;
}


.creators-section {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 20px;
  background-size: 40px 40px, cover;
  background-blend-mode: overlay;
}


.creators-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  color: #ffedf5;
  background-color: #ff4fa1;
  background: url(https://64.media.tumblr.com/0ff0b488ecc614d9677856d2a2fa2baa/8a5fdc9258d445c1-cc/s1280x1920/56e31de29753d389b7a9ae0edc16c72bb3339e9d.pnj);
  display: inline-block;
  border-radius: 25px;
  text-shadow: 0 0 8px rgba(255,255,255,0.6);
  position: relative;
  z-index: 2;
}

.title-image {
  position: relative;
  padding: 0%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  color: #ffedf5;
  background: #000;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #ff00a8;
  color: #fff;
}


.description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 0.55rem;
  line-height: 1.6;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
