@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: Arial, sans-serif;
  background: #f7eedb;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

header {
  text-align: right;
  padding: 0px 0px 90px;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f6c14b;
  display: inline-block;
  padding: 10px 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 2;

}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 30px;
  margin: 40px auto;
  width: 80%;
  max-width: 900px;
}

.member.reverse {
  flex-direction: 2;
  text-align: left;
}

.member img {
  width: 300px;
  height:300px;
}

.member-text {
  max-width: 600px;
}

.member-text h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9rem;
  margin-bottom: 10px;
}


.member-text p {
  font-size: 0.9rem;
  line-height: 1.5;
}

footer {
  position: relative;
  bottom: -90px;
  left: 0;
  background-color: #f36c8c;
  color: white;
  padding: 20px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.footer-content p {
  margin: 3px 0;
  flex: 5;
}

.rights {
  position: relative;
  margin-left: 10%;
  flex: 1 100%;
  margin-top: 50px;
}

/* Decorative Dots */
.background-decor {
  position: absolute;
  background-image: url(https://64.media.tumblr.com/608d0ef566e8cf0f37698089822691d2/b93bfe9d0f0979fa-e5/s1280x1920/09c6c967ec375f14988c03d8239f0ed9e5969d01.pnj); 
  background-size: 800px;
}

.top-left {
  width: 800px;
  height: 800px;
  top: -20%;
  left: -20%;
  background-size: cover;
}

.bottom-right {
  width: 800px;
  height: 400px;
  bottom:8%;
  right: -17%;
}