header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e01c98de;
    color: #F6F0DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

header h1 {
    font-size: 1.3rem;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-align: right;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-family: 'Pixelify Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #F6F0DB;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav a.active {
    background-color: #ff66c4;
    color: #F6F0DB;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ff66c4, 0 0 20px #ff66c4;
}


.logo {
    height: 40px; /* adjust to fit your header */
    width: auto;
    vertical-align: middle;
}

/* --- Global Styles --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 2;
}

body {
    font-family: 'Pixelify Sans', cursive;
    background-color: #1E1E1E;
    background-size: cover;       /* makes sure it fills the entire screen */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents it from repeating */
    color: #333;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --- Page Wrapper --- */
.content {
    padding: 10rem 2rem 4rem;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

/* --- Title --- */
.hero-title {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 0rem;
    line-height: 1.0;
    color: #F6B444; /* Text color */
    padding-bottom: 2rem;
}

.page-title-description {
    text-align: center;
    color: #F6F0DB;
}

/*--- about section --*/
.about-2000s {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: right;

    font-family:'Pixelify Sans', cursive;
    color: #F6F0DB;

    text-shadow:
    -2px -2px 0 #E943AC,
    2px -2px 0 #E943AC,
    -2px  2px 0 #E943AC,
    2px  2px 0 #E943AC;
}

.about-description {
    color: #F6F0DB;
    text-shadow:
    -1px -1px 0 #E943AC,
    1px -1px 0 #E943AC,
    -1px  1px 0 #E943AC,
    1px  1px 0 #E943AC;
}

.container {
    max-width:80rem;
    margin: 0 auto;
    padding: 6rem 1rem;
}

/*---fonts content---*/

/* Container for stars */
.stars-row {
    display: flex;
    flex-direction: row;
    gap: 70px; /* space between stars */
}

.stars-column {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.fonts-content {
    display: grid;
    flex-wrap: column;
    flex-direction: row;
}

.container-star {
    max-width:80rem;
    margin: 0 auto;
    padding: 6rem 1rem;
    padding-left: 10rem;
    padding: right 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px; /* space between stars and text block */

    font-size: 50px;
    color: #F6F0DB;
    
}
.stars-row1 {
    display: flex;
    flex-direction: row;
    gap: 255px; /* space between stars */
    color: #F6F0DB;
}

.stars-row2 {
    display: flex;
    flex-direction: row;
    gap: 255px; /* space between stars */
    color: #F6F0DB;
}


.text {
    font-family:'Pixelify Sans', cursive;
    color: #F6F0DB;
}

.container-2 {
    max-width:80rem;
    margin: 0 auto;
    padding: 6rem 1rem;

    flex-direction: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.fonts {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-right: 15rem;
    text-align: right;

    font-family:'Pixelify Sans', cursive;
    color: #F6F0DB;
}

/*---brittney*/

.member {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 30px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
}

.member-text {
    font-family: 'Fira Code', bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #F6F0DB;
    line-height: normal;
}

.member-text h2 {
    font-family: 'Fira Code', bold;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: right;
}

.member-text p {
    text-align: right;
    line-height: normal;
}

.member img {
    display: inline-block;
    transition: transform 0.3s ease; /* smooth transition */
}

.member img:hover {
    transform: scale(1.1); /* scale up by 10% on hover */
}

/*---gallery---*/
.gallery {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}

.gallery img:hover {
    transform: translateY(-7px);
    transition: transform 0.3s linear;
}