/* --- Global Styles --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 2;
}

body {
    font-family: 'Pixelify Sans', cursive;
    background: #f7eedb;
    background-size: cover;       /* makes sure it fills the entire screen */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents it from repeating */
    color: #333;
    overflow-x: hidden;
    overflow-y: auto;
}



/* --- Header --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e01c98de;
    color: #F6F0DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

header h1 {
    font-size: 1.3rem;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-align: right;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-family: 'Pixelify Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #F6F0DB;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav a.active {
    background-color: #ff66c4;
    color: #F6F0DB;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ff66c4, 0 0 20px #ff66c4;
}


.logo {
    height: 40px; /* adjust to fit your header */
    width: auto;
    vertical-align: middle;
}

/* --- Title --- */
.page-title {
    /* VISUAL STYLE */

    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
    text-align: right;
    padding-bottom: 10px;
    color: #F6B444;
    text-shadow:
        -2px -2px 0 #0a0a0a,
        2px -2px 0 #0a0a0a,
        -2px  2px 0 #0a0a0a,
        2px  2px 0 #0a0a0a;
}


/* --- Page Wrapper --- */
.content {
    padding: 10rem 2rem 4rem;
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
    align-items: right;
    justify-content: right;
}


/* --- Text --- */
.member {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 30px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
}

.member-text {
    font-family:'Pixelify Sans', cursive;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #0a0a0a;
    line-height: normal;
    padding: 6rem 10rem;

}

.page-title h2 {
    font-family:'Pixelify Sans', cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: right;

}

.page-title p {
    text-align: right;
    line-height: normal;
}

/* --- grid --- */
  /* Style for main large image with text overlay */
.large-img {
    top: 50px;
    left: 60px;
    width: 600px;

    background-image: url(back/something.png);
    font-size: 14px;
    line-height: 1.4;
    overflow: auto;
}

  /* Style for overlay text */
.large-img p {
    background: rgba(36, 116, 36, 0.5);
    padding: 10px;
    font-size: medium;
    color: #F6F0DB;
}

.grid-container {
    max-width:80rem;
    padding: 6rem 1rem;
    padding-left: 20rem;
    justify-content: center;
    align-content: center;

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    gap: 26.5rem;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-3";
}

/* gallery row */
.gallery {
    padding: 6rem 1rem;
    padding-top: 5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));

}

.photo-box img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* quote */
.about-2000s {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: left;

    font-family:'Pixelify Sans', cursive;
    color: #0a0a0a;
}

.about-description {
    color: #0a0a0a;
}

.container {
    max-width:80rem;
    margin: 0 auto;
    padding: 6rem 1rem;
}